RewriteEngine On
RewriteRule ^image/(.*)-(.*) image/index.html?id=$1&title=$2 [NC,L]
RewriteRule ^image/(.*) image/index.html?id=$1 [NC,L]
RewriteRule ^post/(.*) image/index.html?id=$1 [NC,L]
RewriteRule ^home logo.png

ErrorDocument 404 404.html
